<div class="form-group">
  <%= f.label tag_type %>
  <%= f.text_field tag_type, class: 'form-control autocomplete tag', id: "draft_#{tag_type}", data: { tagtype: tag_type.to_s.classify } %>
  <ul id='<%= "draft_#{tag_type}_data" %>'>
  </ul>
</div>